<p id="notice"><%= notice %></p>

<h1>Listing Teachers</h1>
<p>
  Download:
  <%= link_to "Excel", teachers_path(format: "xls") %>
</p>
<!--<p>
  <h2> Import Students: </h2>  <!-- only visible if someone with admin roles is logged in-->
  <!--<%= form_tag import_students_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>
</p>-->
<table  id="teachers" class="display" >
  <thead>
    <tr>
      <th></th>
      <th>Full name</th>
      <th>Employer</th>
      <th>Nationality</th>
      <th>Subjects</th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= link_to (image_tag teacher.image.url),teacher %></td>
        <td><%= link_to (teacher.full_name),teacher %></td>
        <td><%= teacher.employer %></td>
        <td><%= teacher.nationality %></td>
        <td><%= teacher.subjects %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Teacher', new_teacher_path %>
